.header {
  &__wrap {
    display: flex;
    justify-content: space-between;
    padding: 3em 15px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1170px;
    width: 100%;
    z-index: 5;
  }
}

#toggler {
  position: fixed;
  display: block;
  right: 15px;
  top: 25px;
  z-index: 10;
  width: 45px;
  height: 45px;
  cursor: pointer;
  
}

#toggler-input {
  display: none;
  &:checked ~ #toggler .header__span:nth-child(1) {
    transform: translateY(17px) rotate(45deg) ;
  }
  &:checked ~ #toggler .header__span:nth-child(2) {
    opacity: 0;
  }
  &:checked ~ #toggler .header__span:nth-child(3) {
    transform: translateY(-17px) rotate(-45deg);
  }
  &:checked ~ .nav {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

.header__span {
  display: block;
  width: 100%;
  height: 4px;
  margin-bottom: 13px;
  border-radius: 2px;
  background-color: #000;
  transition: all .3s ease-in-out;
}

.nav {
  max-width: 50%;
  width: 100%;
  @include media(1054px) {
    max-width: 60%;
  }
  @include media(880px) {
    max-width: 70%;
  }
  @include media(768px) {
    text-align: center;
    background: url(../img/form.jpg)center/cover no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%) scale(0);
    opacity: 0;
    transition: all .4s ease-in-out;
    transform-origin: top right;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 0;
  font-size: 1.6rem;
  text-transform: uppercase;
  @include media(768px) {
    flex-direction: column;
    width: 60%;
    font-size: 3rem;
  }
  &__item {
    list-style: none;
    position: relative;
    @include media(768px) {
      border-bottom: 1px solid #000;
    }
    &:first-child {
      @include media(768px) {
        border-top: 1px solid #000;
      }
    }
    &::before {
      content: '';
      position: absolute;
      top: 1em;
      left: 0;
      width: 100%;
      border-top: 3px solid transparent;
      @include tr;
      @include media(768px) {
        display: none;
      }
    }
    &:hover::before {
      border-top: 3px solid $brand;
    }
  }
  &__link {
    text-decoration: none;
    color: $dark;
    font-weight: 700;
    padding: 20px 5px;
    display: block;
    @include media(768px) {
      width: 100%;
      padding: 20px 0;
      color: rgba(0, 0, 0, .7);
      @include hover {
        color: rgba(0, 0, 0, 1);
      }
    }
  }
}