@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700;900&display=swap');

$ff: 'Raleway', sans-serif;

$dark: #262626;
$light: #fff;
$brand: #ff6033;
$blue: #5585a2;
$footer: #b9b9b9;

$shadow: 0 0 .4em rgba(0, 0, 0, .5);