@import 'normalize';
@import 'variables';
@import 'mixins';

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font: 300 1.7rem/1.5 $ff;
  color: $dark;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

h2 {
  font-size: 9rem;
  text-transform: capitalize;
  font-weight: 700;
  margin: 0;
}

.header {
  min-height: 100vh;
  padding: 2.94em 0 7em;
  background: center/cover no-repeat;
  &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2.94em;
  }
  // &__bottom {}
  // &__wrap {}
  &__title {
    font-size: 6rem;
    font-weight: 900;
    margin: 0;
  }
  &__text {
    margin-bottom: 1.77em;
    max-width: 32.5%;
  }
}

.logo {
  @include hover {
    fill: $brand;
  }
  &--dark {
    fill: $dark;
  }
  &--light {
    fill: $footer;
  }
}


.nav {
  max-width: 50%;
  width: 50%;
  &__menu {
  display: flex;
  justify-content: space-between;
  }
  &__item {
    list-style: none;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: -.52em;
      left: 0;
      width: 100%;
      border-top: .25em solid transparent;
      @include hover {
        border-top: .25em solid $brand;
      }
    }
  }
  &__link {
    color: $dark;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: uppercase;
  }
}

.scroll {
  position: absolute;
  bottom: 3.82em;
  left: 50%;
  transform: translateX(-50%);
  @include hover {
    fill: $brand;
  }
}

.btn {
  font-size: 2rem;
  text-transform: uppercase;
  padding: .9em;
  background-color: $brand;
  border: 2px solid transparent;
  box-shadow: $shadow;
  color: $light;
  width: 19%;
  display: block;
  cursor: pointer;
  @include hover {
    background-color: transparent;
    color: $brand;
    border: 2px solid $brand;
  }
  &--gallery {
    background-color: $blue;
    border: 2px solid $blue;
    margin: 2.5em auto 0;
    @include hover {
      background-color: #ffe600;
      color: $blue;
      border: 2px solid $blue;
    }
  }
  &--subscribe {
    background-color: #96b92c;
    border: 2px solid #96b92c;
    margin-left: 1.9em;
    @include hover {
      background-color: #515e78;
      color: #96b92c;
      border: 2px solid #96b92c;
    }
  }
  &--blog {
    background-color: #f72b3b;
    border: 2px solid transparent;
    margin: 2.9em auto 0;
    @include hover {
      background-color: #fff;
      color: #b07cf7;
      border: 2px solid #b07cf7;
    }
  }
}

.section {
  padding: 4.7em 0 5.95em;
}

.about {
  background-color: #00bbbb;
  color: $light;
  &__wrap {
    display: flex;
    align-items: center;
  }
  &__wrapimg {
    width: calc(50% - 40px);
    margin-right: 80px;
    & img {
      width: 100%;
    }
  }
  // &__title {}
  &__desc {
    width: calc(50% - 40px);
  }
}

.services {
  font-size: 2rem;
  background-color: #70bfff;
  text-align: center;
  &__wrap {
    display: flex;
    align-items: center;
  }
  &__items {
    width: 50%;
    padding: 2.7em 4.5em;
  }
  &__item {
    list-style: none;
    width: 100%;
    font-weight: 700;
    background-color: $light;
    margin: 1em 0;
    display: flex;
    box-shadow: $shadow;
  }
  &__text {
    width: 75%;
    padding: 1em;
  }
  &__icon {
    display: flex;
    width: 25%;
    padding: 1em;
    border-left: 1px solid #9d9d9d;
    font-size: 1.5em;
  }
  &__wrapimg {
    width: 50%;
    position: relative;
    & img {
      width: 100%;
    }
  }
  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $light;
    margin: 0;
    width: 100%;
  }
}

.gallery {
  background-color: #ffe92f;
  text-align: center;
  // &__title {}
  &__text {
    max-width: 51%;
    margin: 0 auto;
    margin-bottom: 2.5em;
  }
  &__photos {
    display: flex;
    flex-wrap: wrap;
  }
  &__photo {
    margin: 0.9em;
    width: calc(50% - 16px * 2);
    & img {
      width: 100%;
      box-shadow: $shadow;
    }
    &--2-3 {
      width: calc(66.6% - 16px * 2);
    }
    &--1-3 {
      width: calc(33.3% - 16px * 2);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }  
}

.subscribe {
  padding: 7.65em 0 9.41em;
  background: right/cover no-repeat;
  &__title {
    font-size: 2.35em;
  }
  &__text {
    width: 50%;
  }
  &__form {
    display: flex;
  }
  &__email {
    width: 50%;
    padding: 1em;
  }
}

.blog {
  background-color: #b07cf7;
  color: $light;
  &__title {
    text-align: center;
  }
  &__text {
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
  }
  &__articles {
    display: flex;
  }
  // &__article {} 
  // &__data {}
  // &__caption {}
  // &__time {}
}

.contact {
  text-align: center;
  background: center/cover no-repeat;
  // &__title {}
  &__text {
    max-width: 33.3%;
    margin: 0 auto 2.5em;
  }
  &__wrap {
    display: flex;
    text-align: left;
  }
  &__form {
    width: calc(50% - 85px);
    display: flex;
    flex-direction: column;
    margin-right: 13%;
  }
  &__input {
    background-color: rgba(119, 216, 211, .5);
    border: none;
    border-left: .4em solid transparent;
    outline: none;
    margin-bottom: 1em;
    padding: 1em 1.3em;
    font-size: 1.5rem;
    @include hover {
      background-color: rgba(119, 216, 211, 1);
      border-left: .4em solid #355b82;
      outline: none;
    }
    &::placeholder {
      color: $light;
    }
  }
  &__inner {
    display: flex;
  }
  &__btn {
    margin-left: 20%;
  }
  &__info {
    width: calc(50% - 85px);
  }
  &__caption {
    font-weight: 700;
  }
  &__descr {
    margin: -.3em 0 .5em;
  }
}

.footer {
  padding: 1.6em 0;
  color: $footer;
  background-color: #262626;
  &__wrap {
    display: flex;
    justify-content: space-between;
  }
  &__text {
    vertical-align: middle;
  }
  &__love {
    color: #ff2b58;
  }
}



