@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'menu';

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font: 300 1.7rem/1.5 $ff;
  color: $dark;
  @include media(320px) {
    font: 300 1.5rem/1.5 $ff;
  }
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

h2 {
  font-size: 9rem;
  text-transform: capitalize;
  font-weight: 700;
  margin: 0;
  @include media(992px) {
    font-size: 6.5rem;
  }
  @include media(576px) {
    font-size: 5rem;
  }
  @include media(320px) {
    font-size: 4rem;
  }
}

.logo {
  @include hover {
    fill: $brand;
  }
  &--dark {
    fill: $dark;
    @include media(768px) {
      transform: translateY(-50%);
    }
  }
  &--light {
    fill: $footer;
  }
}

.home {
  min-height: 100vh;
  padding: 6em 0;
  position: relative;
  background: center right/cover no-repeat;
  display: flex;
  align-items: center;
  @include media(880px) {
    background: center/cover no-repeat;
  }
  @include media(576px) {
    background: none
  }
  &__wrap {
    @media screen and (min-width: 1187px) {
      transform: translateX(-7%);
    }
    @include media(576px) {
      text-align: center;
    }
  }
  &__title {
    font-size: 6rem;
    font-weight: 900;
    @include media(576px) {
      margin: 0;
    }
    @include media(320px) {
      font-size: 5rem;
    }
  }
  &__text {
    line-height: 1.59;
    max-width: 33.3%;
    @include media(880px) {
      max-width: 50%;
    }
    @include media(768px) {
      max-width: 62%;
    }
    @include media(576px) {
      max-width: 80%;
      margin: 0 auto;
    }
  }
}

.scroll {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  @include hover {
    fill: $brand;
  }
}

.btn {
  font-size: 2rem;
  text-transform: uppercase;
  padding: .9em;
  background-color: $brand;
  border: 2px solid transparent;
  box-shadow: $shadow;
  color: $light;
  width: 100%;
  max-width: 190px;
  display: block;
  outline: none;
  cursor: pointer;
  @include media(576px) {
    margin: 0 auto;
  }
  @include media(320px) {
    padding: .5em;
    font-size: 1.8rem;
  }
  @include hover {
    background-color: transparent;
    color: $brand;
    border: 2px solid $brand;
  }
  &--home {
    @include media(576px) {
      margin-top: 60px;
    }
  }
  &--gallery {
    background-color: $blue;
    border: 2px solid $blue;
    margin: 2.5em auto 0;
    @include media(576px) {
      margin: 1em auto 0;
    }
    @include hover {
      background-color: #ffe600;
      color: $blue;
      border: 2px solid $blue;
    }
  }
  &--subscribe {
    background-color: #96b92c;
    border: 2px solid #96b92c;
    margin-left: 1.9em;
    @include media(576px) {
      margin: 0;
      margin-top: 1em;
    }
    @include hover {
      background-color: #515e78;
      color: #96b92c;
      border: 2px solid #96b92c;
    }
  }
  &--blog {
    background-color: #f72b3b;
    border: 2px solid transparent;
    margin: 2.9em auto 0;
    @include hover {
      background-color: #fff;
      color: #b07cf7;
      border: 2px solid #b07cf7;
    }
  }
}

.section {
  padding: 4.7em 0 5.95em;
  @include media(992px) {
    padding: 2.7em 0 3.95em;
  }
  @include media(992px) {
    padding: 1.7em 0 1.95em;
  }
  @include media(320px) {
    padding: 1em 0 1em;
  }
}

.about {
  background-color: #00bbbb;
  color: $light;
  position: relative;
  z-index: 0;
  @include media(768px) {
    text-align: center;
    text-shadow: 0 0 5px #000;
  }
  &__wrap {
    display: flex;
    align-items: center;
  }
  &__wrapimg {
    width: calc(50% - 40px);
    margin-right: 6.84%;
    @include media(768px) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
    @include media(576px) {
      display: none;
    }
    & img {
      width: 100%;
    }
  }
  &__desc {
    width: calc(50% - 40px);
    @include media(768px) {
      width: 90%;
      margin: 0 auto;
    }
    @include media(576px) {
      width: 100%;
    }
  }
}

.services {
  font-size: 2rem;
  background-color: #70bfff;
  text-align: center;
  @include media(768px) {
    position: relative;
    padding-top: 90px;
  }
  @include media(320px) {
    font-size: 1.5rem;
  }
  &__wrap {
    display: flex;
    align-items: center;
    @include media(768px) {
      flex-direction: column-reverse;
    }
  }
  &__items {
    width: 60%;
    padding: 2.7em 4.5em;
    @include media(914px) {
      padding: .7em 1.5em;
    }
    @include media(768px) {
      width: 100%;
      padding: .7em 3.5em;
    }
    @include media(576px) {
      padding: 0;
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    list-style: none;
    width: 100%;
    font-weight: 700;
    background-color: $light;
    margin: 1em 0;
    box-shadow: $shadow;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 75%;
      width: 1px;
      background-color: #222;
    } 
  }
  &__text {
    width: 75%;
    padding: 5%;
  }
  &__icon {
    width: 25%;
    font-size: 1.5em;
    padding: 5%;
    @include media(768px) {
      padding: 3%;
    }
  }
  &__wrapimg {
    width: 40%;
    position: relative;
    @include media(768px) {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
    }
    & img {
      width: 100%;
      @include media(768px) {
        display: none;
      }
    }
  }
  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $light;
    margin: 0;
    width: 100%;
    @include media(768px) {
      transform: translateX(-50%);
      margin: 20px 0;
    }
  }
}

.gallery {
  background-color: #ffe92f;
  text-align: center;
  &__text {
    max-width: 51%;
    @include media(768px) {
      max-width: 80%;
    }
    margin: 0 auto;
    margin-bottom: 2.5em;
  }
  &__photos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include media(576px) {
      padding: 0 5%;
    }
  }
  &__photo {
    margin: .9em;
    width: calc(50% - .9em * 2);
    max-height: 500px;
    @include media(768px) {
      margin: .3em;
    }
    @include media(576px) {
      width: 100%;
      max-height: 1000px;
    }
    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    &--2-3 {
      width: calc(66.6% - .9em * 2);
      @include media(576px) {
        width: 100%;
      }
    }
    &--1-3 {
      width: calc(33.3% - .9em * 2);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include media(576px) {
        width: 100%;
      }
    }
  }
  &__photosm {
    height: calc(50% - .9em);
      @include media(768px) {
        height: calc(50% - .3em);
      }
      @include media(576px) {
        height: 100%;
      }
    &:first-child {
      margin-bottom: .9em;
      @include media(768px) {
        margin-bottom: .3em;
      }
    }
  }
}

.subscribe {
  padding: 7.65em 0 9.41em;
  background: right/cover no-repeat;
  @include media(992px) {
    color: #fff;
    text-shadow: 0 0 7px #000;
    @include media(576px) {
      background: 95% 0/cover no-repeat;
      text-align: center;
      padding: 3.65em 0 4.41em;
    }
    @include media(490px) {
      background-image: url(../img/bgsubscrsm1.jpg) !important;
      background: center/cover no-repeat;
    }
  }
  &__title {
    font-size: 2.35em;
  }
  &__text {
    width: 50%;
    @include media(576px) {
      width: 100%;
    }
  }
  &__form {
    display: flex;
    @include media(576px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__email {
    width: 50%;
    padding: 1em;
    @include media(576px) {
      width: 80%;
    }
  }
}

.blog {
  background-color: #b07cf7;
  position: relative;
  z-index: 1;
  color: $light;
  &__title {
    text-align: center;
  }
  &__text {
    text-align: center;
    max-width: 50%;
    margin: 2.4em auto;
    @include media(768px) {
      max-width: 80%;
    }
    @include media(576px) {
      margin: .5em auto 1em;
    }
  }
  &__articles {
    display: flex;
    flex-wrap: wrap;
    @include media(1177px) {
      justify-content: center;
    }
    @include media(1178px) {
    flex-wrap: wrap;
    }
  }
  &__link {
    text-decoration: none;
    display: block;
    position: relative;
  }
  &__article {
    min-height: 300px;
    width: 350px;
    height: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $light;
    padding: 1.2em;
    background-image: linear-gradient(to top, rgba(0,0,0, .5) 35%,  transparent 50%);
    margin: 0 .8em;
    box-shadow: 0 0 10px rgba(0,0,0, .5);
    @include media(1178px) {
      margin: 10px;
    }
    @include media(389px) {
      margin: 5px 0;
      width: 100%;
      min-height: 270px;
    }
    @include hover {
      box-shadow: 0 0 20px rgba(0,0,0, 1);
      img {
        @include tr;
        transform: translate(-50%, -50%) scale(1.2);
      }
    }
    & img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      z-index: -1;
      object-fit: cover;
    }
  } 
  &__data {
    display: block;
    font-size: 3.2rem;
    font-weight: 700;
    max-width: 65px;
    max-height: 65px;
    padding: .3em;
    background-color: rgba(0,0,0, .5);
    line-height: .7;
    border-radius: 5px;
    text-align: center;
  }
  &__mounth {
    font-size: 2.1rem;
    font-weight: 900;
    text-transform: uppercase;
  }
  &__caption {
    font-size: 2rem;
    max-height: 85px;
    overflow: hidden;
  }
  &__time {
    font-size: 1.3rem;
    display: inline;
  }
}

.contact {
  text-align: center;
  background: center/cover no-repeat;
  // &__title {}
  a {
    text-decoration: none;
    color: $dark;
  }
  &__text {
    max-width: 33.3%;
    margin: 0 auto 2.5em;
    @include media(768px) {
      max-width: 80%;
    }
    @include media(320px) {
      margin: 0 auto 1em;
    }
  }
  &__wrap {
    display: flex;
    text-align: left;
    @include media(576px) {
      flex-direction: column-reverse;
    }
  }
  &__form {
    width: 50%;
    display: flex;
    flex-direction: column;
    @include media(992px) {
      width: 60%;
    }
    @include media(576px) {
      width: calc(100% - 20px * 2);
      margin: 0 20px;
    }
  }
  &__input {
    background-color: rgba(119, 216, 211, .5);
    border: none;
    border-left: .4em solid transparent;
    outline: none;
    margin-bottom: 1em;
    padding: 1em 1.3em;
    font-size: 1.5rem;
    @include media(320px) {
      padding: .5em .7em;
    }
    @include hover {
      background-color: rgba(119, 216, 211, 1);
      border-left: .4em solid #355b82;
      outline: none;
    }
    &::placeholder {
      color: $light;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-evenly;
  }
  &__info {
    width: 50%;
    margin-left: 13%;
    @include media(992px) {
      width: 40%;
      margin-left: 5%;
    }
    @include media(576px) {
      width: 100%;
      text-align: center;
      margin: 0 0 10px 0;
    }
  }
  &__caption {
    font-weight: 700;
  }
  &__descr {
    margin: -.3em 0 .5em;
  }
}

.map {
  width: 100%;
  height: 300px;
}

.footer {
  padding: 1.6em 0;
  color: $footer;
  background-color: #262626;
  @include media(768px) {
    font-size: .9em;
  }
  @include media(576px) {
    font-size: .7em;
    padding: 1.6em 0;
    svg {
      width: 60px;
      height: 26px;
      @include media(576px) {
        margin: 5px auto;
      }
    }
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    @include media(576px) {
      flex-direction: column-reverse;
      text-align: center;
    }
  }
  &__text {
    vertical-align: middle;
  }
  &__love {
    color: #ff2b58;
  }
}



